 
        *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        }
        body 
		{
		background-color: white;
		background-size: 100%;
		text-align: center;
		}


		#logo{width: 120px;height:auto ; margin-top: 3px; float: center;}             
        #wo{margin-top: 40px;margin-right: 10px;color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;}
		#sp{color: rgb(223, 27, 27);}
        section{background-color:  rgba(31, 30, 30);}
        h1{text-align: left;padding-bottom: 20px;margin-left: 80px;margin-top: 60px;font-size: 60px;text-decoration: underline;}
        h3{text-align: left;padding-bottom: 20px;margin-left: 80px;font-size: 30px;}
        p{text-align: left;padding-bottom: 20px;margin-left: 80px;font-size: 20px;}
    